
* {
    align-content: center;
    align-items: center;
}

body {
    background-color: rgba(0, 128, 0, 0.1);
}


h1 {
    display: block;
    margin: auto 0;
    font-size: clamp(1rem, 3.5rem);
    text-align: center;
}

h1::before, h1::after {
    font-family:  serif;
    content:'⭐️️';
    background-color: none;
    color: red;
    margin: auto 0;
}


h2 {
    display: block;
    font-size: clamp(1rem, 3.5rem);
    padding: 5px 5px 15px 5px;
    min-width: 300px;
    box-sizing: border-box;
    text-align: center;

}

/*h2 {*/
/*    border: 4px solid;*/
/*    padding: 20px;*/
/*    auto-width: 300px;*/
/*    resize: horizontal;*/
/*    overflow: auto;*/
/*}*/


h2:nth-child(4) {
    background-color: deepskyblue ;
    border-radius: 5px;
    border: 4px solid;
}

.button {
    font-family: "ui-sans-serif";
    font-size: clamp(1rem, 3.5rem);
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
    min-width: 300px;
    min-height: 60px;
    border-color: rgba(40%, 30%, 30%, 40%);
    border-radius: 10px;
    background: rgba(60%, 10%, 29%, 10%);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 5px 5px 5px 5px;
}


#rock:active {
    background-color: blueviolet;
    box-shadow: 0 5px #666666;
    transform: translateY(4px);

}

#paper:active {
    background-color: lightcoral;
    box-shadow: 0 5px #666666;
    transform: translateY(4px);
}


#scissors:active {
    background-color: greenyellow;
    box-shadow: 0 5px #666666;
    transform: translateY(4px);
}

#rock::before {
    display: block;
    content: '💎️';
    position: absolute;
    z-index: 1;
}

#paper::before {
    display: block;
    content: '🧻';
    position: absolute;
    z-index: 1;
}

#scissors::before {
    display: block;
    content: '✂';
    position: absolute;
    z-index: 1;
}
